<hlm-popover sideOffset="5" align="start" [closeOnOutsidePointerEvents]="true">
  <button
    hlmPopoverTrigger
    hlmBtn
    title="Enter rep range"
    [variant]="buttonVariant()"
    size="icon"
    class="transition-colors duration-300 ease-in-out"
  >
    @if (isEmpty()) {
      <ng-icon name="lucideBook" class="text-yellow-600" />
    } @else if (isInvalid()) {
      <ng-icon name="lucideBook" class="animate-pulse text-red-600" />
    } @else {
      <ng-icon name="lucideBookCheck" class="text-green-600" />
    }
  </button>
  <hlm-popover-content *hlmPopoverPortal="let ctx">
    <hlm-field>
      <hlm-input-group>
        <input
          hlmInputGroupInput
          id="min-rest-time-group"
          type="number"
          placeholder="Lower rep range"
          [(ngModel)]="repRange().lowerRepRange"
          (ngModelChange)="onLowerRepRangeChange($event)"
          min="0"
          onlyInteger
        />

        <hlm-input-group-addon align="inline-start"> lower </hlm-input-group-addon>
        <hlm-input-group-addon align="inline-end"> rep </hlm-input-group-addon>
      </hlm-input-group>
      <hlm-input-group>
        <input
          hlmInputGroupInput
          id="max-rest-time-group"
          type="number"
          placeholder="Upper rep range"
          [(ngModel)]="repRange().upperRepRange"
          (ngModelChange)="onUpperRepRangeChange($event)"
          min="0"
          onlyInteger
        />

        <hlm-input-group-addon align="inline-start"> upper </hlm-input-group-addon>
        <hlm-input-group-addon align="inline-end"> rep </hlm-input-group-addon>
      </hlm-input-group>
    </hlm-field>
  </hlm-popover-content>
</hlm-popover>
