<!-- pipa; szett-típus; rep-range; rest-time; delete-set-gomb -->
<!-- TODO: add animation for the elements appearing and disappearing -->

<div
  hlmFieldGroup
  [attr.data-isHovered]="isHovered()"
  class="mb-1 flex flex-row items-center gap-1.5 rounded-lg border p-3 font-normal"
>
  <hlm-checkbox
    inputId="toggle-2"
    id="set-completion-checkbox"
    [checked]="set().isCompleted"
    (click)="toggleCompletion()"
  />

  <hlm-combobox>
    <hlm-combobox-input placeholder="Select a set type" showClear />
    <hlm-combobox-content *hlmComboboxPortal>
      <hlm-combobox-empty>No items found.</hlm-combobox-empty>
      <div hlmComboboxList>
        @for (setType of setTypes; track $index) {
          <hlm-combobox-item [value]="setType">{{ setType.name }}</hlm-combobox-item>
        }
      </div>
    </hlm-combobox-content>
  </hlm-combobox>

  <input hlmInput placeholder="Enter reps" />

  <hlm-popover sideOffset="5" align="start">
    <button hlmPopoverTrigger hlmBtn variant="outline" size="icon">
      @if (set().restTime.minRestTime === 0 && set().restTime.maxRestTime === 0) {
        <ng-icon name="lucideClockPlus" class="text-yellow-600 hover:bg-amber-200" />
      } @else if (set().restTime.minRestTime > set().restTime.maxRestTime) {
        <ng-icon name="lucideClockAlert" class="text-red-600 hover:bg-red-600/50" />
      } @else {
        <ng-icon name="lucideClockCheck" class="text-green-600 hover:bg-green-300/50" />
      }
    </button>
    <hlm-popover-content *hlmPopoverPortal="let ctx">
      <hlm-popover-header>
        <div hlmPopoverTitle>Dimensions</div>
        <p hlmPopoverDescription>Set the dimensions for the layer.</p>
      </hlm-popover-header>
    </hlm-popover-content>
  </hlm-popover>

  <button
    hlmBtn
    variant="destructive"
    size="icon"
    title="Delete set"
    (click)="onDelete()"
    [attr.data-isHovered]="isHovered()"
    (mouseenter)="isHovered.set(true)"
    (mouseleave)="isHovered.set(false)"
  >
    <ng-icon name="lucideDelete" />
  </button>
</div>
