<!-- pipa; szett-típus; rep-range; rest-time; delete-set-gomb -->
<!-- TODO: add animation for the elements appearing and disappearing -->

<div
  hlmFieldGroup
  [attr.data-isHovered]="isHovered()"
  class="mb-1 flex flex-row items-center gap-1.5 rounded-lg border p-3 font-normal"
>
  <hlm-checkbox
    inputId="toggle-2"
    id="set-completion-checkbox"
    [checked]="set().isCompleted"
    (click)="toggleCompletion()"
  />

  <set-type-dropdown [(selectedSetType)]="set().setType" />

  <rep-range-input-popover [(repRange)]="set().repRange" />
  <weight-input-popover [(weight)]="set().weight" />

  <rest-time-popover [(restTime)]="set().restTime" />

  <button
    hlmBtn
    variant="destructive"
    size="icon"
    title="Delete set"
    (click)="onDelete()"
    [attr.data-isHovered]="isHovered()"
    (mouseenter)="isHovered.set(true)"
    (mouseleave)="isHovered.set(false)"
  >
    <ng-icon name="lucideDelete" />
  </button>
</div>
