<p>exercise-picker-component works!</p>
<hlm-combobox [(search)]="search" [itemToString]="itemToString">
    <hlm-combobox-input placeholder="Pick an exercise" showClear />
    <hlm-combobox-content *hlmComboboxPortal>
        @if (showStatus()) {
        <hlm-combobox-status>
            @if (exercises.error(); as error) {
            {{ error }}
            } @else if (exercises.isLoading()) {
            <hlm-spinner />
            Loading...
            } @else if (search().length === 0) {
            Type to search exercises.
            } @else {
            No matches for "{{ search() }}".
            }
        </hlm-combobox-status>
        }
        <div hlmComboboxList>
            @if (exercises.hasValue()) {
            @for (exercise of exercises.value(); track exercise.id) {
            <hlm-combobox-item [value]="exercise">{{ exercise.name }}</hlm-combobox-item>
            }
            }
        </div>
    </hlm-combobox-content>
</hlm-combobox>