<!-- pipa; szett-típus; rep-range; rest-time; delete-set-gomb -->
<!-- TODO: add animation for the elements appearing and disappearing -->

<div
  hlmFieldGroup
  [attr.data-isHovered]="isHovered()"
  class="mb-1 flex flex-row items-center gap-1.5 rounded-lg border p-3 font-normal"
  (click)="toggleCompletion()"
>
  <hlm-checkbox
    inputId="toggle-2"
    id="set-completion-checkbox"
    [checked]="set().isCompleted"
    (click)="toggleCompletion()"
  />

  <hlm-combobox>
    <hlm-combobox-input placeholder="Select a set type" showClear />
    <hlm-combobox-content *hlmComboboxPortal>
      <hlm-combobox-empty>No items found.</hlm-combobox-empty>
      <div hlmComboboxList>
        @for (setType of setTypes; track $index) {
          <hlm-combobox-item [value]="setType">{{ setType.name }}</hlm-combobox-item>
        }
      </div>
    </hlm-combobox-content>
  </hlm-combobox>

  <input hlmInput placeholder="Enter reps" />
  <input hlmInput placeholder="Enter rest time" />
  <button
    hlmBtn
    variant="destructive"
    size="icon"
    title="Delete set"
    (click)="onDelete()"
    [attr.data-isHovered]="isHovered()"
    (mouseenter)="isHovered.set(true)"
    (mouseleave)="isHovered.set(false)"
  >
    <ng-icon name="lucideDelete" />
  </button>
</div>
